
header {
background-color: 02b4af;
  color: pink;
  text-align: center;
  padding: 1em;
  margin: 0;
  border: 0;
}

nav {
background-color: pink;
  overflow: hidden;
}

section img {
position: absolute;
  display: flex;
  align-items: center;
  top: 8vh;
  left: 3vw;
  height: 40vh;
  width: 60vw;
  border-radius: 15px;
}

main {
position: absolute;
  top: 50vh;
  left: 3vw;
    right: 7vw;
}

.mid {
display: flex;
  flex-direction: row;
}

aside img {
  height: 65vh;
  width: 30vw;
  margin-left: 2vw;
}

footer {
  background-color: 02b4af;
margin-top: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
}

