/*****General***/


header {
  background-color: 800869;
  /*background-image: url("photos/IMG_4238.JPG");*/
  background-size: cover;
  color: rgb(255, 128, 149);
  display: flex;
  width: 100%;
  height: clamp(10vh, 20vw, 120px);
  font-size: 24px;

}




.home-button img {
  display: flex;
  align-items: left;
  height: clamp(10vh, 20vw, 120px);
}

@media screen and (max-width: 880px) {
  header {
    font-size: 10px;
  }
}

nav {
  display: block;
  align-items: center;
  height: 8vh;
  background-color: pink;
}

section {
  width: 100%;
}

ol {
  display: flex;
}

ol li {
  list-style: none;
  padding: 15px;
}

ol li a {
  text-decoration: none;
  color: pink;
}

main {
position:relative;
width: 100%;
text-align: center;
justify-content: center;

}

footer {
  background-color: 02b4af;
  margin-top: 100vh;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: pink;

}
/************************************************************/

/***Home***/

.sidebar {
  width: 25vw;
  position: absolute;
  z-index: 1;
  top: 30vh;
  right: 0;
  overflow-x: hidden;
  
}

.sidebar img {
  display: block;
width: 25vw;
justify-content: right;
  align-items: right;
}

.home-content {
  width: 70vw;
  justify-content: left;
  align-items: left;
  text-align: left;
}


/************************************************************/

/***About***/



/************************************************************/

/***Portfolio-main**/

.select-proj {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items:center;
justify-content: center;
text-align: center;

}

.select-proj img {
  display: flex;
min-width:10vw;
max-width: 25vw;
border: solid  black;
margin-bottom: 2vh;
}

@media screen and (max-width: 880px) {
  .select-proj {
    grid-template-columns: 1fr 1fr;
  }
}


/************************************************************/

/***portfolio-indiv-piece***/
.hero-shot {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-shot .image img {
  width: full;
  height: 40vw;
  
}

@media screen and (max-width: 880px) {
.hero-shot {
  grid-template-columns: 1fr;
}
}

.process-shot {
display: grid;
grid-template-columns: 1fr, 1fr, 1fr;
justify-content: center;
  text-align: center;
  align-items: center;

 }

 .process-shot img {
  max-width: 300px;
 }


 @media screen and (max-width: 880px) {
  .process-shot {
    grid-template-columns: 1fr;
  }
 }

/************************************************************/

