
header {
  background-color: 02b4af;
  /*background-image: url("photos/IMG_4238.JPG");*/
  background-size: cover;
  color: rgb(255, 128, 149);
  display: flex;
  width: 100%;
  height: clamp(10vh, 20vw, 120px);
  text-align: right;

}

.home-button img {
  display: flex;
  align-items: left;
  height: clamp(10vh, 20vw, 120px);
}



.center {
  display: block;
  color: pink;
  align-items: left;
  justify-content: center;
}

nav {
  display: block;
  align-items: center;
  height: 8vh;
  background-color: pink;
}

section {
  width: 100%;
}

ol {
  display: flex;
}

ol li {
  list-style: none;
  padding: 15px;
}

ol li a {
  text-decoration: none;
  color: pink;
}


.hero-shot {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-shot .image img {
  width: 100%;
  
}

@media screen and (max-width: 880px) {
.hero-shot {
  grid-template-columns: 1fr;
}
}

.process-shot {
display: grid;
grid-template-columns: 1fr, 1fr, 1fr;
justify-content: center;
  text-align: center;
  align-items: center;

 }

 .process-shot img {
  max-width: 300px;
 }


 @media screen and (max-width: 880px) {
  .process-shot {
    grid-template-columns: 1fr;
  }
 }



main {
position:relative;
width: 100%;
text-align: center;
justify-content: center;

}

.mid {
display: flex;
  flex-direction: row;
}

aside img {
  height: 65vh;
  width: 30vw;
  margin-left: 2vw;
}

footer {
  background-color: 02b4af;
  margin-top: 100vh;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: pink;

}

